/* ==========================================================================
  Sommaire

  1 = General Style
  2 = Layout
  3 = Styling Elements
========================================================================== */

/* ==========================================================================
  1 = General Style
========================================================================== */

/* Force Outlook to provide a "view in browser" button. */
#outlook a {
  padding: 0;
}

/* Force Hotmail / Outlook.com to display emails at full width */
.ReadMsgBody,
.ExternalClass {
  width: 100%;
}

/* Force Hotmail / Outlook.com to display normal line spacing, */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

body {
  width:100% !important;
  -webkit-text-size-adjust:none;/* Prevent Webkit platforms from changing default text sizes. */
  -ms-text-size-adjust: none;
  margin: 0;
  padding: 0;
  /*Font-family Backup*/
  font-family: sans-serif;
}

a img {
  border: 0;
}

img {
  height: auto;
  outline: 0;
  text-decoration: none;
  max-width: 100%;
  width: auto;
  display: block;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  margin: 0 auto; /*Fix for yahoo align center bug*/
}

table td { border-collapse: collapse; }

/* ==========================================================================
  2 = Layout
========================================================================== */

.crunchWFull { width: 100%; }

.crunchW3-4 { width: 450px; }
.crunchW2-3 { width: 400px; }
.crunchW1-2 { width: 300px; }
.crunchW1-3 { width: 200px; }
.crunchW1-4 { width: 150px; }
.crunchW1-5 { width: 120px; }
.crunchW1-6 { width: 100px; }
.crunchW1-7 { width: 85px; }
.crunchW1-8 { width: 69px; }
.crunchW1-8 { width: 66px; }
.crunchW1-10 { width: 60px; }

.crunchCol div {
  display: inline-block;
  letter-spacing: normal;
}

.crunchCol.crunchBlockValignTop div {
    vertical-align: top;
}

.crunchCol.crunchBlockValignBottom div {
    vertical-align: bottom;
}

.crunchCol.crunchBlockValignMiddle div {
    vertical-align: middle;
}

.crunchCol td {
  letter-spacing: -5px;/*better than font-size:0, Bug on Safari*/
  vertical-align: top;
}

.crunchBlock,
.crunchBlockNoBg {
    margin: auto;
}

.crunchBlock.crunchFitBlock,
.crunchBlockNoBg.crunchFitBlock {
    width: 100%;
}

.crunchCol .crunchButton td { letter-spacing: normal; }

.crunchInlineImg img {
  display: inline;
  width: auto;
}

.crunchValignCenter div,
.crunchValignCenter.crunchInlineImg img {
  vertical-align: middle;
}

.crunchGlobalWrapper .crunchNoPadding { padding: 0; }

.crunchSeparator,
.crunchSeparator td {
    padding: 0;
}

/* ==========================================================================
  3 = Styling Elements
========================================================================== */

.crunchTtu { text-transform: uppercase; }
.crunchTar { text-align: right; }
.crunchTac { text-align: center; }
.crunchTac img { margin: auto; }
.crunchTac div { text-align: center; }
.crunchTal { text-align: left; }

.crunchWrapper .crunchElement {
  margin: 10px 0;
  display: block; /*use for tag a*/
}

.crunchElement.crunchButton { display: table; }

.crunchLink {
  font-weight: bold;
  text-decoration: none;
}

.crunchButton { text-align: center; }

.crunchButton p { margin: 0; }

.crunchButton a { text-decoration: none; }

.crunchButton td { background: inherit; }
